#fh5co-home{
  background-image: url("../images/HeroJP.png") !important;
}

.sigs{
  display: block;
  align-items: center;
}

.sigs img{
  max-width: 40%;
  float: right;
}

.contactus span{
  display: block;
  text-align: center;
  margin: 20px auto;
  width: 50vw;
  height: 12vh;
  font-size: 7vh;
}